## Prerequisites - 2

Before you start the lab, please run this notebook to create a little lemon database.

In [1]:
#install connector api using the command below.
!pip install mysql-connector-python

# Import the MySQL Connector/Python
import mysql.connector as connector

# Establish connection between Python and MySQL database via connector API
connection=connector.connect(
                             user="root", # use your own
                             password="", # use your own
                            )
print("Connection between MySQL and Python is established.\n")

# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.\n")

# If exist, drop the database first, and create again
try:
    cursor.execute("CREATE DATABASE little_lemon")
except:
    cursor.execute("drop database little_lemon")
    cursor.execute("CREATE DATABASE little_lemon")
print("The database little_lemon is created.\n")    
    
# Set little_lemon database for use 
cursor.execute("USE little_lemon")
print("The database little_lemon is set for use.\n")

# The SQL query for Customers table is:
create_customers_table="""
CREATE TABLE `Customers`(
    `CustomerID` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    `FirstName` VARCHAR(255) NOT NULL,
    `LastName` VARCHAR(255) NOT NULL,
    `Email` VARCHAR(255) NOT NULL,
    `PhoneNumber` VARCHAR(255) NOT NULL,
    `Address` VARCHAR(255) NOT NULL,
    `Country` VARCHAR(255) NOT NULL,
    `City` VARCHAR(255) NOT NULL
);
"""

# Create Customers table
cursor.execute(create_customers_table)
print("Customers table is created.\n")

# The SQL query for orders table is:
create_order_table="""
CREATE TABLE `Orders`(
    `OrderID` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    `Date` DATE NOT NULL,
    `Quantity` INT NOT NULL,
    `TotalCost` DECIMAL(8, 2) NOT NULL,
    `CustomerID` INT NOT NULL,
    `BookingID` INT NOT NULL,
    `MenuID` INT NOT NULL,
    FOREIGN KEY (`CustomerID`) REFERENCES `Customers`(`CustomerID`)
);
"""

# Create Menu table
cursor.execute(create_order_table)
print("Orders table is created.\n")


#*******************************************************#
# Insert query to populate "Customer" table is:
#*******************************************************#
insert_customers="""
INSERT INTO `Customers` (`FirstName`, `LastName`, `Email`, `PhoneNumber`, `Address`, `Country`, `City`) VALUES
('John', 'Doe', 'john.doe@example.com', '1234567890', '123 Main St', 'USA', 'New York'),
('Jane', 'Doe', 'jane.doe@example.com', '0987654321', '456 Main St', 'USA', 'Los Angeles'),
('Alice', 'Smith', 'alice.smith@example.com', '1112223333', '789 Main St', 'USA', 'Chicago'),
('Bob', 'Johnson', 'bob.johnson@example.com', '4445556666', '321 Main St', 'USA', 'Houston'),
('Charlie', 'Brown', 'charlie.brown@example.com', '7778889999', '654 Main St', 'USA', 'Philadelphia'),
('David', 'Williams', 'david.williams@example.com', '0001112222', '987 Main St', 'USA', 'Phoenix'),
('Eve', 'Jones', 'eve.jones@example.com', '3334445555', '246 Main St', 'USA', 'San Antonio'),
('Frank', 'Miller', 'frank.miller@example.com', '6667778888', '135 Main St', 'USA', 'San Diego'),
('Grace', 'Davis', 'grace.davis@example.com', '9990001111', '864 Main St', 'USA', 'Dallas'),
('Henry', 'Garcia', 'henry.garcia@example.com', '2223334444', '753 Main St', 'USA', 'San Jose');
"""

print("Inserting data in Customers table.")
# Populate Customers table
cursor.execute(insert_customers)
print("Total number of rows in Customers table: {}\n".format(cursor.rowcount))
connection.commit()

#*******************************************************#
# Insert query to populate "Orders" table is:
#*******************************************************#
insert_orders="""
INSERT INTO `Orders` (`Date`, `Quantity`, `TotalCost`, `CustomerID`, `BookingID`, `MenuID`) VALUES
(CURDATE(), 1, 100.00, 1, 1, 1),
(CURDATE(), 1, 100.00, 2, 2, 2),
(CURDATE(), 1, 100.00, 3, 3, 3),
(CURDATE(), 1, 100.00, 4, 4, 4),
(CURDATE(), 1, 100.00, 5, 5, 5),
(CURDATE(), 1, 100.00, 6, 6, 6),
(CURDATE(), 1, 100.00, 7, 7, 7),
(CURDATE(), 1, 100.00, 8, 8, 8),
(CURDATE(), 1, 100.00, 9, 9, 9),
(CURDATE(), 1, 100.00, 10, 10, 10);
"""

print("Inserting data in Orders table.")
# Populate Orders table
cursor.execute(insert_orders)
print("Total number of rows in Orders table: {}\n".format(cursor.rowcount))
connection.commit()

print("""The database "little_lemon" is ready for use.""")

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-py2.py3-none-any.whl (557 kB)
     |████████████████████████████████| 557 kB 46.6 MB/s
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Connection between MySQL and Python is established.

Cursor is created to communicate with the MySQL using Python.

The database little_lemon is created.

The database little_lemon is set for use.

Customers table is created.

Orders table is created.

Inserting data in Customers table.
Total number of rows in Customers table: 10

Inserting data in Orders table.
Total number of rows in Orders table: 10

The database "little_lemon" is ready for use.